<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Client Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <script type="text/javascript" th:src="@{/js/table.js}"></script>
    <script>
        async function followToggle(clientId, isFollowing) {
            let apiUrl = '/api/client/' + clientId + (isFollowing ? '/unfollow' : '/follow');
            await fetch(apiUrl, {
                method: "POST",
                headers: {"Content-Type": "application/json"}
            });

            window.location.reload();
        }
    </script>
</head>
<body>
<nav class="topnav">
    <a href="/home" th:href="@{/home}">Home</a>
    <a href="/product" th:href="@{/product}">Product</a>
    <a href="/review" th:href="@{/review}">Review</a>
    <a href="/client" th:href="@{/client}">Client</a>
    <a href="/logout" th:href="@{/logout}" class="split">Logout</a>
    <a href="/myaccount" th:href="@{/myaccount}" class="split">Profile</a>
</nav>

<h2>Client Information</h2>

<table>
    <tr>
        <th>ID</th>
        <td id="id" th:text="${client.getId()}"></td>
    </tr>
    <tr>
        <th>Username</th>
        <td id="username" th:text="${client.getUsername()}"></td>
    </tr>
    <tr>
        <th>Follower Count</th>
        <td id="followerCount" th:text="${client.getFollowerCount()}"></td>
    </tr>
</table>

<h2>Reviews</h2>

<table class="dataTable">
    <thead>
        <tr>
            <th>Product</th>
            <th>Rating</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="review : ${client.getReviews().values()}" class="review">
            <td>
                <a th:text="${review.getProduct().getName()}" th:href="@{/product/{id}(id=${review.getProduct().getId()})}"></a>
            </td>
            <td th:text="${review.getRating()}"></td>
            <td th:text="${review.getComment()}"></td>
        </tr>
    </tbody>
</table>

<h2>Following</h2>

<table class="dataTable">
    <thead>
    <tr>
        <th>Username</th>
        <th># of Followers</th>
        <th>Jaccard Distance</th>
        <th>Degrees of Separation</th>
    </tr>
    </thead>
    <tr th:each="followed : ${client.getFollowing()}" class="client">
        <td><a th:text="${followed.getUsername()}" th:href="@{/client/{id}(id=${followed.getId()})}"></a></td>
        <td th:text="${followed.getFollowerCount()}"></td>
        <td th:text="${followed.getJaccardDistanceWithUser(activeClient)}"></td>
        <td th:text="${followed.getDegreesOfSeparation(activeClient)}"></td>
    </tr>
</table>

<footer>
    <p>
        <button id="followToggle" class="btn btn-large btn-success"
                th:onclick="|followToggle(${client.getId()}, ${activeClient.isFollowing(client)})|"
                th:text="${activeClient.isFollowing(client)} ? 'Unfollow' : 'Follow'"></button>
        <a class="btn btn-large btn-success" href="/client" th:href="@{/client}">Return</a>
    </p>
</footer>

</body>
</html>