<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Index</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="hero-unit">
                <h1>Trustworthy Product Reviews Home Page</h1>
                <p>Welcome to the Trustworthy Product Reviews application!</p>
                <p><a href="/login" th:href="@{/login}" class="btn btn-large btn-success">Login</a></p>
            </div>
            <footer>
                <div>&copy; 2023 Group16</div>
            </footer>
        </div>
    </body>
</html>